<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
    <div class="dashboard">
        <div class="dashboard-tittle">
            <h1>Dashboard</h1>
        </div>
        <div class="dashboard-counter">
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2><%=studentCount%></h2>
                    <h5>Enrolled Student</h5>
                </div>
                </div>
            </div>
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-clinic-medical"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2><%=patientsToday > 0 ? patientsToday : 0%></h2>
                    <h5>Patient Today</h5>
                </div>
                </div>
            </div>
        </div>
        <div class="dashboard-counter">
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-bed"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2><%=patientCount%></h2>
                    <h5>Overall Patient</h5>
                </div>
                </div>
            </div>
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2><%=visitorCount%></h2>
                    <h5>Visitor</h5>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer'); %>


