<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
  <div class="medicalRecord">
    <div class="create-button">
        <%- include('../components/student-findings-modal') %>
    </div>
    <a 
        href="/medical/form"
        class="btn btn-primary" 
    >
        New Medical Record
    </a>
    <div class="search-button">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
                <label class="form-label" for="navsearch">Search</label>
            </div>
        </div>
    </div>
    <div class="student-list">
        <%- include('../components/tables/medicalRecord-table') %>
    </div>
</div>
</div>
<%- include('../includes/footer'); %>