<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
  <div class="patient">
    <div class="create-patient-button">
      <div class="addStudent-btn">
        <%- include('../components/addStudent-modal') %>
      </div>
      <div class="patient-btn">
        <%- include('../components/patient-modal') %>
      </div>
    </div>
    <div class="search-button">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
          <label class="form-label" for="navsearch">Search</label>
        </div>
      </div>
    </div>
    <div class="student-list">
      <table class="table" id="table" >
        <thead>
          <tr class="theadRow">
            <th scope="col" class="th" data-column="id" data-order="desc">
              ID No.
            </th>
            <th scope="col" class="th" data-column="name" data-order="desc">
              Name
            </th>
            <th scope="col" class="th" data-column="grade" data-order="desc">
              Grade
            </th>
            <th scope="col" class="th" data-column="section" data-order="desc">
                Section
            </th>
            <th scope="col" class="th" data-column="action" data-order="desc">
              Action
            </th>
        </thead>
        <tbody id="myTable">
          <% if(patients) { %>
          <% patients.forEach(patient => { %>
            <tr>
              <td><%= patient.schoolId %></td>
              <td>
                <%= patient.firstName %>
                <%= patient.middleName[0] %>
                <%= patient.lastName %>
              </td>
              <td><%= patient.grade%></td>
              <td><%= patient.section%></td>
              <td>
                <button class="btn btn-primary">
                  Edit
                </button>
              </td>
            </tr>
          <% }) %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="student-page">
      <nav class="pt-2" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<%- include('../includes/footer'); %>