<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
    <div class="patient">
        <div class="create-patient-button">
            <div class="addStudent-btn">
                <%- include('../components/addStudent-modal') %>
            </div>
            <div class="patient-btn">
                <%- include('../components/patient-modal') %>
            </div>
        </div>
        <div class="search-button">
            <div class="input-group">
                <div class="form-outline">
                <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
                <label class="form-label" for="navsearch">Search</label>
                </div>
            </div>
        </div>
        <div class="patient-list">
            <%- include('../components/tables/patient-table') %>
        </div>
    </div>
</div>
<%- include('../includes/footer'); %>