<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
  <div class="student">
    <div class="create-button">
      <%- include('../components/student-modal') %>
    </div>
    <div class="search-button">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
          <label class="form-label" for="navsearch">Search</label>
        </div>
      </div>
    </div>
    <div class="student-list">
      <table class="table" id="table" >
        <thead>
          <tr class="theadRow">
            <th scope="col" class="th" data-column="id" data-order="desc">
              ID No.</th>
            <th scope="col" class="th" data-column="name" data-order="desc">
              Name</th>
            <th scope="col" class="th" data-column="grade" data-order="desc">
              Grade</th>
            <th scope="col" class="th" data-column="section" data-order="desc">
                Section</th>
                <th scope="col" class="th" data-column="action" data-order="desc">
                  Action</th>
        </thead>
        <tbody id="myTable">
            <% if (students) { %>
              <% students.forEach(student => { %>
              <tr>
                <td data-label="ID No."><%=  student.schoolId %></td>
                <td data-label="Name">
                  <%=  student.firstName %>
                  <%=  student.middleName %>
                  <%=  student.lastName %>
                </td>
                <td data-label="Grade"><%=  student.grade %></td>  
                <td data-label="Section"><%=  student.section %></td>
                <td>
                    <button 
                      class="btn btn-primary btn-sm  m-1"
                      data-mdb-toggle="modal" 
                      data-mdb-target="#profileModal"
                    > 
                      <i class="fas fa-eye"></i> View
                    <button>
                    <button 
                      class="btn btn-primary btn-sm m-1" 
                      data-mdb-toggle="modal" 
                      data-mdb-target="#studentModal"
                      onclick="updateStudent(<%= JSON.stringify(student) %>)" 
                    > 
                      <i class="fas fa-edit"></i > Edit
                    <button>
                </td>
              </tr>
              <% }) %>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="student-page">
      <nav class="pt-2" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<%- include('../components/studentProfile-modal') %>


<%- include('../includes/footer'); %>


