<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
    <div class="student">
        <div class="create-button">
            <%- include('../components/student-modal') %>
        </div>
        <div class="search-button">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
                    <label class="form-label" for="navsearch">Search</label>
                </div>
            </div>
        </div>
        <div class="student-list">
            <%- include('../components/tables/student-table') %>
        </div>
    </div>
</div>

<%- include('../components/studentProfile-modal') %>
<%- include('../components/student-delete-modal') %>

<%- include('../includes/footer'); %>


