<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
    </head>
    <style>
        table,
        tr,
        td{
            outline: 1px solid #000;
            color: #000;
            padding: none;
            margin: none;
            font-size: 0.9em;
        }
        .form-table{
            width: 100%;
        }
    </style>
<body>
    <p>2018 SHD Form 2</p>
    <header>
        <div class="container-fluid form-header" style="display: flex; flex-direction: row; align-items: center;justify-content: space-around; color: #000;">
            <div class="form-logo" style="display: block; max-width: 6rem; padding: 1rem;">
                <img src="file:///D:/Projects/labuan-clinic-management-system-master/public/img/My%20project%20(1).png" fetchpriority="high" loading="lazy">
            </div>
            <div class="form-title" style="font-size: 0.8em; text-align: center;">
                <strong>REPUBLIC OF THE PHILIPPINES <br> DEPARTMENT OF EDUCATION <br> DIVISION OF ZAMBOANGA CITY</strong>
                <br>
                <small>Zamboanga City</small>
            </div>
            <div class="form-logo" style="display: block; max-width: 6rem; padding: 1rem;">
                <img style="display: block; max-width: 6rem; padding: 1rem;" src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t39.30808-6/166970590_172841551565201_5170973977685216828_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=mtdfVbFyHOIAX9Mi0sV&_nc_ht=scontent.fmnl9-1.fna&oh=00_AfDl4JHLOf5WiKo1k3mL0fUW4TkiDn6hjUiQmajjNE3QUA&oe=63F63945">
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-card-title" style="margin-top: 1.5rem; color: #000; outline: solid 2px #000; text-align: center;">
                <strong>SCHOOL HEALTH EXAMINATION CARD</strong>
            </div>
        </div>
        <div class=" container-fluid header-content" style="display: flex; gap: 5rem;">
            <form class="form school-health-form" action="" style="width: 100%">
                <div class="container-fluid school-form" style="display: flex; width: 100%; flex-direction: row; gap: 6rem;">
                    <div class="container-fluid left" style="width: 50%;">
                        <div class="row nameList" style="margin-top: 1rem; width: 100%;">
                            <div class="nameField" style="display: flex; flex-direction: row;">
                                <label class="nameTitle" for="" style="padding-right: 1rem;">Name:</label>
                                <div class='nameDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="name-field" value="<%=student.lastName%>" style="width: 9rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">Last</label>
                                </div>
                                <div class='nameDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="name-field" value="<%=student.firstName%>" style="width: 9rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">First</label>
                                </div>
                                <div class='nameDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="name-field" value="<%=student.middleName%>" style="width: 9rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">Middle</label>
                                </div>
                            </div>
                        </div>
                        <div class="row lrnList" style="margin-top: 1rem; width: 100%;">
                            <div class="lrnField" style="display: flex; flex-direction: row;">
                                <label class="lrnTitle" for="lrn" style="padding-right: 1rem;">LRN</label>
                                <div class='lrnDiv'>
                                    <input class="lrn-field" value="<%=student.lrn%>" style="border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                        <div class="row dobList" style="margin-top: 1rem; width: 100%;">
                            <div class="dobField" style="display: flex; flex-direction: row;">
                                <label class="dobTitle" for="" style="min-width: 7rem; padding-right: 1rem;">Date of Birth:</label>
                                <div class='dobDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="dob-field" value="<%=student.dob.month%>" style="width: 8rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">Month</label>
                                </div>
                                <div class='dobDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="dob-field" value="<%=student.dob.day%>"  style="width: 8rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">Day</label>
                                </div>
                                <div class='dobDiv' style="display:flex; flex-direction:column; align-items: center;">
                                    <input class="dob-field" value="<%=student.dob.year%>"  style="width: 8rem; border: none; border-bottom: 2px solid #000;">
                                    <label for="lname">Year</label>
                                </div>
                            </div>
                        </div>
                        <div class="row bpList" style="margin-top: 1rem; width: 100%;">
                            <div class="bpField" style="display: flex; flex-direction: row;">
                                <label class="bpTitle" for="" style="padding-right: 1rem;">Birthplace:</label>
                                <div class='bpDiv'>
                                    <input class="bp-field" value="<%=student.birthPlace%>" style="width: 25.5rem; border: none; border-bottom: 2px solid #000;  ">
                                </div>
                            </div>
                        </div>
                        <div class="row parentList" style="margin-top: 1rem; width: 100%;">
                            <div class="parentField" style="display: flex; flex-direction: row;">
                                <label class="parentTitle" for="" style="padding-right: 1rem;">Parent/Guardian:</label>
                                <div class='parentDiv'>
                                    <input class="parent-field" value="<%=student.contactPerson%>" style="width: 23rem;border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid right" style="width: 50%;">
                        <div class="row idList" style="margin-top: 1rem; width: 100%;">
                            <div class="idField" style="display: flex; flex-direction: row;">
                                <label class="idTitle" for="" style="text-align: center; width: 7rem; padding-right: 1rem;">School ID:</label>
                                <div class='idDiv'>
                                    <input class="id-field" value="<%=student.schoolId%>" style="width: 15rem; border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                        <div class="row regionList" style="margin-top: 5.3rem; width: 100%;">
                            <div class="regionField" style="display: flex; flex-direction: row;">
                                <label class="regionTitle" for="" style="padding-right: 1rem;">Region:</label>
                                <div class='regionDiv'>
                                    <input class="region-field" value="IX" disabled style="text-align: center; width: 17rem; border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                        <div class="row divisionList" style="margin-top: 3rem;  width: 100%;">
                            <div class="divisionField" style="display: flex; flex-direction: row;">
                                <label class="divisionTitle" for="" style="padding-right: 1rem;">Division:</label>
                                <div class='divisionDiv'>
                                    <input class="division-field" value="ZAMBOANGA CITY" disabled style="text-align: center; width: 17rem; border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                        <div class="row phoneList" style="margin-top: 1rem; width: 100%;">
                            <div class="phoneField" style="display: flex; flex-direction: row;">
                                <label class="phoneTitle" for="" style="width: 10rem; padding-right: 1rem;">Telephone No.:</label>
                                <div class='phoneDiv'>
                                    <input class="phone-field" style="width: 15rem; border: none; border-bottom: 2px solid #000;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row addressList" style="margin-top: 1rem; width: 100%;">
                        <div class="addressField" style="display: flex; flex-direction: row;">
                            <label class="addressTitle" for="" style="padding-right: 1rem;">Address</label>
                            <div class='addressDiv'>
                                <input class="address-field" value="<%=student.address%>" style="width: 73rem; border: noxne; border-bottom: 2px solid #000;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="container mt-2">
        <table class="form-table">
            <thead>
                <tr>
                    <td></td>
                    <td>Grade 7</td>
                    <td>Grade 8</td>
                    <td>Grade 9</td>
                    <td>Grade 10</td>
                    <td>Grade 11</td>
                    <td>Grade 12</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                </tr>
                <tr>
                    <td>Date of Examination</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= (new Date(medicalRecord.createdAt).getMonth() % 12) + 1 %>/<%= new Date(medicalRecord.createdAt).getDate()%>/<%= new Date(medicalRecord.createdAt).getFullYear()%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Temperature/BP</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.temperature%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Heart Rate/ Pulse Rate/ Respiratory Rate</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.heartPulseRespRate%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Height (in cm)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.height%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Weight (in kg)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.weight%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Nutritional Status (NS)(BMI/Wt-for-Age)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.nutStatBM%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Nutritional Status (NS)(Height/Wt-for-Age)</td>
                    
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.nutStatHeight%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Vision Screening using appropriate chart</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.visionScreening%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Auditory Screening (Tuning Fork)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.auditoryScreening%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Skin/Scalp</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.skinScalp%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Eyes/Ears/Nose</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.eyesEarsNose%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Mouth/Throat/Neck</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.mouthThroatNeck%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Lungs/Hearth</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.lungsHeart%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Abdomen</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.abdomen%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Deformities</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.deformities%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Iron Supplementation (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.ironSupplementation) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Deworming (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.deworming) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Immunization (Specify what kind)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.immunization) { %>
                         <td><%= medicalRecord.immunization %></td>
                        <% } else {%>
                            <td> X</td>
                        <% } %>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                <tr>
                    <td>SBFP (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.SBFPBeneficiary) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>4Ps Beneficiary (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.fourPS) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Menarche (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.menarche) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td><strong>Examined by:</strong></td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.examinedBy%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
            </tbody>
          </table>
          <div>Legend:</div>
          <table class="form-table">
              <thead>
                  <tr>
                      <td>Skin/Scalp</td>
                      <td>Eye/Ear/Nose</td>
                      <td>Mouth/Neck/Throat</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>a.Normal</td>
                      <td>a.Normal</td>
                      <td>a.Normal</td>
                  </tr>
                  <tr>
                      <td>b.Presence of lice</td>
                      <td>b.Stye</td>
                      <td>b.Enlarged tonsils</td>
                  </tr>
                  <tr>
                    <td>c.Redness of skin</td>
                    <td>c.Eye Redness</td>
                    <td>c.Presence of lesions</td>
                  </tr>
                  <tr>
                    <td>d.White Spots</td>
                    <td>d.Ocular Misalignment</td>
                    <td>d.Inflamed pharynx</td>
                  </tr>
                  <tr>
                    <td>e.Fleaky Skin</td>
                    <td>e.Pale Conjunctiva</td>
                    <td>e.Enlraged Lymphnodes</td>
                  </tr>
                  <tr>
                    <td>f.Empetigo/boil</td>
                    <td>f.Ear discharge</td>
                    <td>f.Other, specify</td>
                  </tr>
                  <tr>
                    <td>g.Hematoma</td>
                    <td>g.Impacted cerumen</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>h.Bruises/Injuries</td>
                    <td>h.Mucus discharge</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>i.Itchness</td>
                    <td>i.Nose Bleeding(Epistaxis)</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>j.Skin Lessions</td>
                    <td>j.Eye discharge</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>k.Acne/Pimple<</td>
                    <td>k.Matted Eyelashes/td>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>l.Other, specify</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          <div>Note: Letter to record ailment and Place X if not examined</div>
        </div>
</body>
</html>