<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
    </head>
    
<body>
    <header>
        <div class="container-fluid form-header">
            <section class="form-logo">
                <img src="My project (1).png" fetchpriority="high" loading="lazy">
            </section>
            <article class="form-title">
                <strong>REPUBLIC OF THE PHILIPPINES <br> DEPARTMENT OF EDUCATION <br> DIVISION OF ZAMBOANGA CITY</strong>
                <br>
                <small>Zamboanga City</small>
            </article>
            <section class="form-logo">
                <img src="sidebar-logo.png" fetchpriority="high" loading="lazy">
            </section>
        </div>
        <div class="container-fluid">
            <div class="form-card-title">
                <strong>SCHOOL HEALTH EXAMINATION CARD</strong>
            </div>
        </div>
        <div class=" container-fluid header-content">
            <form class="form school-health-form" action="">
                <div class="container-fluid school-form">
                    <div class="container-fluid left">
                        <div class="row nameList">
                            <div class="nameField">
                                <label class="nameTitle" for="">Name:</label>
                                <div class='nameDiv'>
                                    <input class="name-field" value="<%=student.lastName%>">
                                    <label for="lname">Last</label>
                                </div>
                                <div class='nameDiv'>
                                    <input class="name-field" value="<%=student.firstName%>">
                                    <label for="lname">First</label>
                                </div>
                                <div class='nameDiv'>
                                    <input class="name-field" value="<%=student.middleName%>">
                                    <label for="lname">Middle</label>
                                </div>
                            </div>
                        </div>
                        <div class="row lrnList">
                            <div class="lrnField">
                                <label class="lrnTitle" for="lrn">LRN</label>
                                <div class='lrnDiv'>
                                    <input class="lrn-field" value="<%=student.lrn%>">
                                </div>
                            </div>
                        </div>
                        <div class="row dobList">
                            <div class="dobField">
                                <label class="dobTitle" for="">Date of Birth:</label>
                                <div class='dobDiv'>
                                    <input class="dob-field" value="<%=student.dob.month%>">
                                    <label for="lname">Month</label>
                                </div>
                                <div class='dobDiv'>
                                    <input class="dob-field" value="<%=student.dob.day%>">
                                    <label for="lname">Day</label>
                                </div>
                                <div class='dobDiv'>
                                    <input class="dob-field" value="<%=student.dob.year%>">
                                    <label for="lname">Year</label>
                                </div>
                            </div>
                        </div>
                        <div class="row bpList">
                            <div class="bpField">
                                <label class="bpTitle" for="">Birthplace:</label>
                                <div class='bpDiv'>
                                    <input class="bp-field" value="<%=student.birthPlace%>">
                                </div>
                            </div>
                        </div>
                        <div class="row parentList">
                            <div class="parentField">
                                <label class="parentTitle" for="">Parent/Guardian:</label>
                                <div class='parentDiv'>
                                    <input class="parent-field" value="<%=student.contactPerson%>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid right">
                        <div class="row idList">
                            <div class="idField">
                                <label class="idTitle" for="">School ID:</label>
                                <div class='idDiv'>
                                    <input class="id-field" value="<%=student.schoolId%>">
                                </div>
                            </div>
                        </div>
                        <div class="row regionList">
                            <div class="regionField">
                                <label class="regionTitle" for="">Region:</label>
                                <div class='regionDiv'>
                                    <input class="region-field" value="IX" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row divisionList">
                            <div class="divisionField">
                                <label class="divisionTitle" for="">Division:</label>
                                <div class='divisionDiv'>
                                    <input class="division-field" value="ZAMBOANGA CITY" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row phoneList">
                            <div class="phoneField">
                                <label class="phoneTitle" for="">Telephone No.:</label>
                                <div class='phoneDiv'>
                                    <input class="phone-field">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row addressList">
                        <div class="addressField">
                            <label class="addressTitle" for="">Address</label>
                            <div class='addressDiv'>
                                <input class="address-field" value="<%=student.address%>">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="container mt-2">
        <table class="form-table">
            <thead>
                <tr>
                    <td></td>
                    <td>Grade 7</td>
                    <td>Grade 8</td>
                    <td>Grade 9</td>
                    <td>Grade 10</td>
                    <td>Grade 11</td>
                    <td>Grade 12</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                    <td>Findings</td>
                </tr>
                <tr>
                    <td>Date of Examination</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= (new Date(medicalRecord.createdAt).getMonth() % 12) + 1 %>/<%= new Date(medicalRecord.createdAt).getDate()%>/<%= new Date(medicalRecord.createdAt).getFullYear()%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Temperature/BP</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.temperature%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Heart Rate/ Pulse Rate/ Respiratory Rate</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.heartPulseRespRate%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Height (in cm)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.height%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Weight (in kg)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.weight%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Nutritional Status (NS)(BMI/Wt-for-Age)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.nutStatBM%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Nutritional Status (NS)(Height/Wt-for-Age)</td>
                    
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.nutStatHeight%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Vision Screening using appropriate chart</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.visionScreening%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Auditory Screening (Tuning Fork)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.auditoryScreening%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Skin/Scalp</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.skinScalp%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Eyes/Ears/Nose</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.eyesEarsNose%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Mouth/Throat/Neck</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.mouthThroatNeck%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Lungs/Hearth</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.lungsHeart%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Abdomen</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.abdomen%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Deformities</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.deformities%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Iron Supplementation (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.ironSupplementation) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Deworming (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.deworming) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Immunization (Specify what kind)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.immunization) { %>
                         <td><%= medicalRecord.immunization %></td>
                        <% } else {%>
                            <td> X</td>
                        <% } %>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                <tr>
                    <td>SBFP (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.SBFPBeneficiary) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>4Ps Beneficiary (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.fourPS) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td>Menarche (Check list)</td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <% if (medicalRecord.menarche) { %>
                            <td>&#9745;</td>
                        <% } else {  %>
                        <td>X</td>
                        <% } %>
                        
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
                <tr>
                    <td><strong>Examined by:</strong></td>
                    <% student.medical.forEach(medicalRecord => { %>
                        <td> <%= medicalRecord.examinedBy%></td>
                    <% }) %>
                    <% for( let index = student.medical.length; index < 6; index++ ) { %>
                        <td></td>
                    <% } %>
                </tr>
            </tbody>
          </table>
          <div>Legend:</div>
          <table class="form-table">
              <thead>
                  <tr>
                      <td>Skin/Scalp</td>
                      <td>Eye/Ear/Nose</td>
                      <td>Mouth/Neck/Throat</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>a.Normal</td>
                      <td>a.Normal</td>
                      <td>a.Normal</td>
                  </tr>
                  <tr>
                      <td>b.Presence of lice</td>
                      <td>b.Stye</td>
                      <td>b.Enlarged tonsils</td>
                  </tr>
                  <tr>
                    <td>c.Redness of skin</td>
                    <td>c.Eye Redness</td>
                    <td>c.Presence of lesions</td>
                  </tr>
                  <tr>
                    <td>d.White Spots</td>
                    <td>d.Ocular Misalignment</td>
                    <td>d.Inflamed pharynx</td>
                  </tr>
                  <tr>
                    <td>e.Fleaky Skin</td>
                    <td>e.Pale Conjunctiva</td>
                    <td>e.Enlraged Lymphnodes</td>
                  </tr>
                  <tr>
                    <td>f.Empetigo/boil</td>
                    <td>f.Ear discharge</td>
                    <td>f.Other, specify</td>
                  </tr>
                  <tr>
                    <td>g.Hematoma</td>
                    <td>g.Impacted cerumen</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>h.Bruises/Injuries</td>
                    <td>h.Mucus discharge</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>i.Itchness</td>
                    <td>i.Nose Bleeding(Epistaxis)</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>j.Skin Lessions</td>
                    <td>j.Eye discharge</td>
                      <td></td>
                  </tr>
                  <tr>
                    <td>k.Acne/Pimple<</td>
                    <td>k.Matted Eyelashes/td>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>l.Other, specify</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          <div>Note: Letter to record ailment and Place X if not examined</div>
        </div>









       <!-- MDB -->
       <script type="text/javascript" src="/js/mdb.min.js"></script>
       <!-- Custom scripts -->
       <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>