<table class="table" id="table" >
    <thead>
      <tr class="theadRow">
        <th scope="col" class="th" data-column="id" data-order="desc">
          ID No.</th>
        <th scope="col" class="th" data-column="name" data-order="desc">
          Name</th>
        <th scope="col" class="th" data-column="grade" data-order="desc">
          Grade</th>
        <th scope="col" class="th" data-column="section" data-order="desc">
            Date</th>
            <th scope="col" class="th" data-column="action" data-order="desc">
              Action</th>
    </thead>
    <tbody id="myTable">
      <% if (medicalRecords) { %>
        <% medicalRecords.forEach(record => { %>
          <tr>
            <td data-label="ID No.">
              <a href="/students/record"><%=record.student.schoolId%></a>
            </td>
            <td data-label="Name">
              <%=record.student.firstName%>
              <%=record.student.middleName%>
              <%=record.student.lastName%>
            </td>
            <td data-label="Grade"><%=record.student.schoolId%></td>
            <td data-label="Date">
              <%= (new Date (record.createdAt).getMonth() %12 ) + 1%>/
              <%= new Date (record.createdAt).getDate()%>/
              <%= new Date (record.createdAt).getFullYear()%>
            </td>
            <td>
              <button class="btn btn-primary btn-sm  m-1">
                <i class="fas fa-eye"></i> 
                View</button>
              <button class="btn btn-primary btn-sm m-1"> 
                <i class="fas fa-edit"></i > 
                Edit
              <button>
            </td>
            </tr>
        <% }) %>
      <% } %>  
    </tbody>
  </table>