<table class="table" id="table" >
    <thead>
      <tr class="theadRow">
        <th scope="col" class="th" data-column="id" data-order="desc">
          Full Name</th>
        <th scope="col" class="th" data-column="name" data-order="desc">
          Date</th>
        <th scope="col" class="th" data-column="grade" data-order="desc">
          Contact No.</th>
        <th scope="col" class="th" data-column="section" data-order="desc">
            Temp</th>
            <th scope="col" class="th" data-column="action" data-order="desc">
              Action</th>
    </thead>
    <tbody id="myTable">
      <% if (visitors) { %>
       <% visitors.forEach(visitor => { %>
        <td data-label="ID No.">
          <%= visitor.fullname %>
        </td>
        <td data-label="Date">
          <%= (new Date (visitor.createdAt).getMonth() % 12 ) + 1%>/
          <%= new Date (visitor.createdAt).getDate()%>/
          <%= new Date (visitor.createdAt).getFullYear() %>
        </td>
        <td>
          <%=visitor.contactNo%>
        </td>
        <td>
          <%=visitor.temp%>
        </td>
        <td>
          <button 
          onclick="viewVisitor(<%=JSON.stringify(visitor)%>)"
            class="btn btn-primary btn-sm  m-1"
            data-mdb-toggle="modal" 
            data-mdb-target="#viewVisitorModal"
          >
            <i class="fas fa-eye"></i>view
          </button>
          <button 
            onclick="deleteVisitor('<%=visitor._id %>')" 
            class="btn btn-danger btn-sm  m-1"
            data-mdb-toggle="modal" 
            data-mdb-target="#deleteVisitor"
          >
            <i class="fas fa-trash"></i>
            Delete
        </button>
        </td>
       <% }) %>
      <% } %>

    </tbody>
  </table>